
body {
    font-family: 'Cloister Black', serif;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url("agoe_1.png");
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    color: #333;
}
h1 {
    font-size: 24px;
    color: #222;
    margin-bottom: 20px;
}
form {
    margin: 20px auto;
    max-width: 400px;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
}
select, button {
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    max-width: 400px;
}
#result {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}
